/*css file only for hompage after login*/
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body::-webkit-scrollbar {
  display: none; /* Hide the default scrollbar */
}
main{
    font-family: Ubuntu;
}
.scrollable {
  display: flex;
  flex-direction: column;
  height: 88vh;
  overflow-x: hidden;
  overflow-y: auto; /* Add this line to make .scrollable scrollable */
}

/* Styling for scrollbar in WebKit browsers (Chrome, Safari) */
.scrollable::-webkit-scrollbar {
  width: 12px;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: #3b3a3a8e;
  height: 15px;
  border-radius:3px;
}

.scrollable::-webkit-scrollbar-track {
  background-color: #ffffff;
}